<h1>Intern Form</h1>

<form [formGroup]="internForm" (ngSubmit)="onSubmit()">
    <div>
        <p>Name</p>
        <input type="text" name="name" formControlName="name">
        <div *ngIf="interFormControls?.name?.errors?.required && isSubmitted">
            Name is required.
        </div>
    </div>
    <div>
        <p>Age</p>
        <input type="text" name="age" formControlName="age">
        <div *ngIf="interFormControls?.age?.errors?.required && isSubmitted">
            Age is required.
        </div>
        <div *ngIf="interFormControls?.age?.errors?.pattern && isSubmitted">
            Age shoud only contain numbers.
        </div>
    </div>
    <div>
        <p>Email</p>
        <input type="text" name="email" formControlName="email">
        <div *ngIf="interFormControls?.email?.errors?.required && isSubmitted">
            Email is required.
        </div>
        <div *ngIf="interFormControls?.email?.errors?.email && isSubmitted">
            Enter a valid email address.
        </div>
    </div>
    <div>
        <br>
        <!-- <button type="submit">Submit</button> -->
        <button type="button" (click)="onSubmitClick()">Submit</button>
        <button type="button" (click)="onReset()">Reset</button>
    </div>
</form>